:root {
    --orange: #D96262;
    --light-gray: #8695A4;
    --light-blue: #EDF7FA;
    --dark-blue: #21243D;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

/* Секция Hello */
.pa-nav_it {
    padding: 0;
}

.h2_itd {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--dark-blue)
}

.p_itd {
    color: var(--dark-blue);
    line-height: 1.5rem;

}

/* Секция с постами */
.recent-post {
    background: var(--light-blue);
    width: 24rem;
    height: 40.43rem;

}

.rec_itd_p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: var(--dark-blue);

}

.rec_itd_h2 {
    font-weight: 700;
    font-size: 1.37rem;
    line-height: 1.8rem;
    color: var(--dark-blue);
    margin-left: 1.18rem;
    margin-top: 12px;
}

.rec_itd_p11 {
    line-height: 1.5rem;
    color: var(--dark-blue);
    margin-left: 1.18rem;

}

.rec_itd_p1 {
    line-height: 1.5rem;
    color: var(--dark-blue);
    margin-left: 1.18rem;
    font-size: 1rem;
}

.recent-post-itd {
    width: 22.12rem;
    height: 16.62rem;
    background: var(--white);
    box-shadow: 0px .25rem .62rem rgba(187, 225, 250, 0.25);
    border-radius: .25rem;
    margin-bottom: 17px;
}

.line {
    height: 1.31rem;
    border: .06rem solid #000000;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* Feature-works-section */
.con-1 {
    width: 22.43rem;
    height: 28.43rem;
    border-bottom: .06rem solid #E0E0E0;
    margin-bottom: 9.37rem;
}

.start_itd {
    margin-left: 1.37rem;
    color: var(--light-gray);
}

.img_f {
    Width: 3.87rem;
    Height: 1.56rem;
    margin-left: 1.12rem;
}

/* Footer */
.ico_foot {
    margin-top: 5.06rem;
    padding-right: 3.06rem;

}

.copy_footer {
    margin-top: 1.62rem;
    margin-bottom: 5.25rem;
}

.ico_foot:nth-child(4n) {
    margin-top: 5.06rem;
    padding-right: 0;

}